@page
@model WebsiteHotel.Pages.AboutusModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Swoose Travel Company | Travel Company </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <title> Swoose Travel Company | Travel Company </title>
    <link rel="stylesheet" href="~/css/AboutusStyle.css" />

</head>

<body>
    <section id="aboutUsInfo">
        <header class="aboutUsInfo-head">

            <h1> About us </h1>

        </header>
    </section>



    <section id="userQuestions">
        <header class="userQuestions-head">
            <h4>
                <br /> We Connect People and Places <br />
            </h4>
            <hr class="section-break">
            <h3>
                <br /> WHAT WE BELIEVE <br /> <br />
            </h3>

            <h6>
                Traveling is about more than flights and hotel reservations. <br /> It’s about connecting. Our mission is to help you plan your perfect vaction.
            </h6><br />

            <hr class="section-break">
            <h3>
                <br /> OUR VALUES <br /> <br />
            </h3>

            <h6>
                Leadership: The courage to shape a better future. <br />
                Accountability: If it is to be, it's up to me.<br />
                Passion: Committed in heart and mind.<br />
                Diversity: As inclusive as our brands.<br />
                Quality: What we do, we do well.<br />
            </h6><br />

            <hr class="section-break">
            <h3>
                <br /> A NOTE FROM THE FOUNDER  <br /> <br />
            </h3>

            <h6>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <br />
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  aliquip<br />
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu <br />
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt <br />
                mollit anim id est laborum.
            </h6><br />


            <h4>
                -Suzanne Moore, Founder + CEO
            </h4><br />

            <hr class="section-break">

            <h3>
                <br /> WHERE ARE WE LCOATED AT: <a href="https://www.neworleans.com/">NEW ORLEANS, LA</a>
            </h3>


        </header>
    </section>



    <section id="locationInfo">
        <header class="locationInfo-head">

            <h1> New Orleans </h1>

        </header>
    </section>

    <footer>
        <div class="footer-wrapper">
            <h5>Swoose Travel Company &copy;</h5>
            <ul>
                <li>
                    <a href="https://twitter.com/?lang=en" title="twitter-social-media">
                        <img src="./icons/twitter.svg" alt="twitter-social-media" />
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" title="youtube-social-media">
                        <img src="./icons/youtube.svg" alt="youtube-social-media" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" title="instagram-social-media">
                        <img src="./icons/instagram.svg" alt="instagram-social-media" />
                    </a>
                </li>
            </ul>
        </div>
    </footer>





    @*Resize*@
    <style>

        .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        }
    </style>

</body>
</html>
