@page
@model WebsiteHotel.Pages.QuestionsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Swoose Travel Company | Travel Company </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <title> Swoose Travel Company | Travel Company </title>
    <link rel="stylesheet" href="~/css/QuestionsStyle.css" />

</head>

<body>
    <section id="aboutUsInfo">
        <header class="aboutUsInfo-head">


            <br /><br /><h1> Questions? </h1>
        </header>
    </section>

    <section id="frequentQuestions">


        <header class="frequentQuestions-head">

            <h3>
                <br /> HAVE QUESTIONS ABOUT SWOOSE TRAVEL COMPANY? <br /> <br />
                Keep reading for more information! <br /> <br />
            </h3>


        </header>

        <div class="content">

            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-79466112b075eabd464c"></div>
            <hr class="section-break">
            <div class="sqs-block-content">
                <div class="questions">
                    <h3>PAYMENT + BUDGET</h3><br />

                    <div class="answer">
                        <p><b>What budget should I choose?</b>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>

                        <p><b>How do I pay?</b></p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>

                    </div>
                </div>

                <div class="questions">

                    <h3>TRIP BOOKING</h3><br />

                    <div class="answer">
                        <p><b>Can I bring my pet with me?</b>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>


                        <p><b>Can I travel over a holiday weekend?</b></p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>

                    </div>


                </div>
            </div>
        </div>



    </section>

    <footer>
        <div class="footer-wrapper">
            <h5>Swoose Travel Company &copy;</h5>
            <ul>
                <li>
                    <a href="https://twitter.com/?lang=en" title="twitter-social-media">
                        <img src="./icons/twitter.svg" alt="twitter-social-media" />
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" title="youtube-social-media">
                        <img src="./icons/youtube.svg" alt="youtube-social-media" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" title="instagram-social-media">
                        <img src="./icons/instagram.svg" alt="instagram-social-media" />
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    @*Resize*@
    <style>

        .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        }
    </style>
</body>
</html>